* { box-sizing: border-box; }

body {
	font-family: 'Montserrat', sans-serif;
}

.home-wrapper{
	background: url('../images/background.jpg') no-repeat center top;
	background-size: cover;
	color: white;
}

header {
	position: fixed;
	padding: 10px 0;
	width: 100%;
	background-color: rgba(178,18,18, 0.6);
}

header img {
	width: 80px;
}

header nav {
	float: right;
	margin-top: 14px;
}

header nav a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin-left: 12px;
	padding: 10px 15px;
}

header nav a.active {
 	background: #1C8BC6;
 	border-radius: 12px;
}

#home {
	text-align: center;
	padding: 80px 0 50px;
}

#home h1 {
	font-size: 40px;
	font-weight: normal;
	padding: 35px;
}

#home p {
	font-size: 24px;
}

#home .social {
	margin-top: 30px;
}

#home .social a {
	color: #1C8BC6;
	display: inline-block;
	border-radius: 10%;
	background-color: white;
	font-size: 44px;
	font-weight: bold;
	height: 50px;
	width: 50px;
	line-height: 50px;
	margin-right: 10px;
	-webkit-transition: all .9s;
	-moz-transition: all .9s;
	transition: all .9s;
}

#home .social a:hover {
	background-color: #1C8BC6;
	color: white;
}

#hab1 .box {
	display: inline-block;
	text-align: center;
	vertical-align:top;
	width: 22%;
	padding: 12px;
}

#hab1 .box img {
	width: 160px;
}

#video {
	background-color: grey;
	text-align: center;
	padding: 20px 0;
}

#hab2 {
	text-align: center;
	background-color: whitesmoke;
}

#hab3 {
	text-align: center;
}

section {
	padding: 80px 0;
}

section h2 {
	font-size: 42px;
	text-align: center;
	margin-bottom: 50px;
}

footer {
	text-align: center;
}

.container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}